
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');
/* contiene las imagenes centradas y bonis */
body {
	font-family: 'Ubuntu';
	max-width: 1200px;
	margin: 0 auto;
}
/* Da espacio de imagen entre imagen */
img {
	max-width: 100%;
}

header {
	display: flex;
	align-items: center;
	padding: 30px;
	justify-content: center;
}

.container-related-products h2 {
	text-align: center;
	margin-bottom: 30px;
}

.card-list-products {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 25px;
}
/* Agrega este estilo para eliminar los bordes en las imágenes */
.card-img img {
    border: none;
}

.card {
	cursor: pointer;
}

.card-img {
	background: transparent;
	margin-bottom: 15px;
}

/* .card-img img {   HACIA QUE LAS IMAGENES SE HAGAN GRANDES Y CREO CENTRADAS.
	height: 400px;
	object-fit: cover;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
} */

.info-card {
	display: flex;
	justify-content: space-between;
}

.text-product {
	color: #252525;
	font-weight: 300;
	line-height: 1.4;
}

.text-product h3 {
	color: inherit;
	font-weight: inherit;
	font-size: 15px;
}

/* el footer (pie de page) */
footer {
	padding: 30px;
	background-color: #eee;
	margin-top: 50px;
	color: #222;
}